.blue { background: blue }
.grey { background: gray }
.chats-row { height: 100vh; }
.chats-row div { 
    height: 50%;
    border: 1px solid #ddd;
    padding: 0px; 
}

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.current-chat { 
    height: 100vh;
    border: 1px solid #ddd;
}

.chat-toolbar-row {
    background-color: #f5f5f5;
}

.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-chat-area {
    padding-top: 10px;
    overflow-y: scroll;
    height: 85vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;
}

div.service-msg {
    color: gray;
    font-style: italic;
}

li.media {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
    .current-chat {
        margin-top: -60px;
  }
}
