{% extends 'base.html' %}

{% block content %}

<div>
    <h1>How to use this simple chat?</h1>

    <ul class="lead">
        <li><a href="{{ app.router['login'].url_for() }}">Login</a> or create <a href="{{ app.router['register'].url_for() }}">new user</a>
        <li>Default users Alice, Bob, Carol, Dave, Eve
        <li>Join any chat room, or create <a href="{{ app.router['create_room'].url_for() }}">new</a>
        <li>Send any text messages in room
        <li>Use chat commands by send message with text <code>/help</code>
        <li>Ready, you are awesome ;)
    </ul>
</div>

{% endblock %}
